<footer class="footer">
  <small>
    The <a href="https://sundars-portfolio.herokuapp.com">Portfolio</a>
    by <a href="https://github.com/sundars04">Swaroop Sundar</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Help", help_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="https://sundars-portfolio.herokuapp.com">News</a></li>
    </ul>
  </nav>
</footer>